################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/Factory_Demo/.vs/Factory_Demo/v15
/Factory_Demo/Factory_Demo/obj/Debug
